manifest:
  defaults:
    revision: v0.3
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: badjeff
      url-base: https://github.com/badjeff
    - name: bastardkb
      url-base: https://github.com/bastardkb
    # Additional modules containing boards/shields/custom code can be listed here as well
    # See https://docs.zephyrproject.org/3.2.0/develop/west/manifest.html#projects
  projects:
    - name: zmk
      remote: zmkfirmware
      import: app/west.yml
    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main
      path: modules/zmk-pmw3610-driver
    - name: zmk-keyboards-charybdis
      url: https://github.com/victorlucachi/zmk-keyboards-charybdis
      revision: main
      path: modules/zmk-keyboards-charybdis
  self:
    path: config
